    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Dating has changed. You shouldn't have to.</h2>
              <br/>
                <p>Roxanne helps thoughtful adults navigate modern dating communication with confidence, authenticity, and emotional intelligence.</p>
                 <ul class="feature-list">
                  <li>Craft engaging messages that represent your true self</li>
                  <li>Get guidance for responding to difficult conversations</li>
                  <li>Build better communication skills over time</li>
                  <li>Navigate modern dating with confidence</li>
                </ul>
                <br/>
              </div>
        </div>
    </section>
