<!-- Features Section -->
<section id="features" class="container content-section features-section">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Key Features</h2>
            <div class="section-divider"></div>
        </div>
    </div>
    
    <div class="row text-center">
        <div class="col-md-4">
            <div class="feature-box">
                <div class="feature-icon">
                    <i class="fa fa-heart fa-4x"></i>
                </div>
                <h3>Authentic Communication</h3>
                <p>Craft messages that represent the real you, just more effectively.</p>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="feature-box">
                <div class="feature-icon">
                    <i class="fa fa-user-circle fa-4x"></i>
                </div>
                <h3>Personalized Guidance</h3>
                <p>Get suggestions tailored to your voice and communication style.</p>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="feature-box">
                <div class="feature-icon">
                    <i class="fa fa-chart-line fa-4x"></i>
                </div>
                <h3>Grow Your Skills</h3>
                <p>Learn why certain approaches work better than others.</p>
            </div>
        </div>
    </div>
</section> 