<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="copyright">© 2025 A Million Dreams LLC. All Rights Reserved. <a href="/privacy-policy/">Privacy Policy</a></p>
            </div>
            <div class="col-md-6 text-right">
                <ul class="list-inline footer-social-buttons">
                    {% for social in site.social %}
                    <li>
                        <a href="{{ social.url }}" class="social-link" target="_blank">
                            <i class="{{ social.icon }}"></i>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</footer>
