<!-- Waitlist Section -->
<section id="waitlist" class="container content-section text-center waitlist-section">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2 class="section-heading">Be Among the First to Try Roxanne</h2>
            <div class="section-divider"></div>
            <p class="lead">We're launching soon. Join our waitlist to get early access and special offers.</p>
            <div class="waitlist-cta">
                <a href="#" class="btn btn-primary btn-lg cta-button">Join the Waitlist</a>
            </div>
        </div>
    </div>
</section> 